body{
    height: 100vh;
    margin: 0 20px;
    padding: 0;
    background:  hsl(257, 40%, 49%);
    background-image: url('../images/bg-desktop.svg');
    background-repeat: no-repeat;
    background-size: contain;
}

header{
    margin: 50px auto;
}

main{
    display: flex;
    
    color: white;
}



main .main-description h1{
    font-family: 'Poppins', sans-serif;
    font-size: 40px;
    text-transform: capitalize;
}

main .main-description p{
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
}

main .main-description button{
    height: 50px;
    margin-top: 20px;
    width: 200px;
    background-color: white;
    border: 0;
    font-size: 18px;
    color:  hsl(257, 40%, 49%);
    border-radius: 50px;
    box-shadow: 0 20px 20px 0 #0f131e47;
    
}


footer{
    display: flex;
    justify-content: flex-end;
    margin-top: 30px;
}


footer img{
    height: 40px;
    margin-right: 20px;
    border-radius: 30%;
}